[user]
    name = gianni
    email = giannikchen@gmail.com

[alias]
    b = branch
    c = commit
    cm = commit -m
    d = diff
    s = status

[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[push]
    default = current

[rerere]
    enabled = true
